body{
    background-color: rgba(61, 139, 61, 0.562);
}

#carID {
    width: 100px; 
    height: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#setaID{
    position: fixed;
    bottom: 20px; /* Ajuste a altura desejada a partir da parte inferior */
    right: 50px;
}

.container-imagem{
    display: flex; /* Exibe os elementos lado a lado */
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
    justify-content: center;
}

.container-imagem img{
    width: 50px;
    height: auto; 
    margin-right: 10px;
}

